<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- 確認用のバインドは削除 -->
    <span>NG ON FIRE CHAT!!!</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" *ngIf="logedIn === true">
  <mat-card style="margin-bottom: 10px;">
    <mat-card-content>
      <mat-form-field class="comment-input">
        <input [(ngModel)]="inputMessage" matInput placeholder="コメントしてください">
      </mat-form-field>
      <button (click)="sendMessage()" mat-raised-button color="primary">送信</button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let message of messages | async; let i = index">
          <mat-divider *ngIf="i > 0"></mat-divider>
          <mat-list-item>
            {{message.body}} / {{message.name}} ({{message.createdAt.toDate() | date: 'yyyy/MM/dd HH:mm:ss'}})
            <button (click)="deleteMessage(message)" mat-button color="accent">削除</button>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="content" *ngIf="logedIn === false">
  <!-- この中にログインする前のHTMLを書く。ここにログイン用のフォームを作ります。 -->
  <mat-card style="margin-bottom: 10px;">
    <mat-card-content>
      <mat-form-field class="comment-input">
        <input [(ngModel)]="email" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field class="comment-input">
        <input [(ngModel)]="password" matInput placeholder="パスワード">
      </mat-form-field>
      <button (click)="login()" mat-raised-button color="primary">ログイン</button>
    </mat-card-content>
  </mat-card>
</div>

<!-- これはあとで使うから消さないでね！ -->
<router-outlet></router-outlet>
